<form class="bbf-form" id="feature-polygon-properties-form">
<div class="feature-properties" id="feature-polygon-properties">
	<table style="width:100%">
	  <tr>  
	    <th><label>Style Name</label></th>
	    <td><input name="style name" type="text" value="{{style.name}}"/></td>
	  </tr>
	  <tr>
	   	<th><label>Fill Color</label></th>  
	    <td><input name="fill color" type="text" value="{{style.fillColor}}"/></td>
	  </tr>  
	  <tr>  
	  	<th><label>Fill Opacity</label></th>
	    <td><input name="fill opacity" type="text" value="{{style.fillOpacity}}"/></td>
	  </tr>  
	  <tr>  
	  	<th><label>Stroke Color</label></th>
	    <td><input name="stroke color" type="text" value="{{style.strokeColor}}"/></td>
	  </tr>
	  <tr>  
	  	<th><label>Stroke Width</label></th>
	    <td><input name="stroke width" type="text" value="{{style.strokeWidth}}"/></td>
	  </tr>
	</table>
</div>
</form>