<p><strong> Current map layer information <strong></p>

<form class="bbf-form" id="layer-info-form">
<div class="layer-info" id="layer-info">
	<table style="width:100%">
	  <tr>
	    <th><label>Name</label></th>
	    <td><input name="name" type="text" value="{{name}}"/></td>
	  </tr>
	  <tr>
	    <th><label>Description</label></th>
	    <td><textarea name="description" rows=3 >{{description}}</textarea></td>
	  </tr>
	  <tr>
	    <th><label>Modifier</label></th>
	    <td><input name="modifier" disabled="disabled" type="text" value="{{modifier}}"/></td>
	  </tr>
	  <tr>
	    <th><label>Modified</label></th>
	    <td><input name="modified" disabled="disabled" type="text" value="{{modified}}"/></td>
	  </tr>
	  <tr>
	    <th><label>Creator</label></th>
	    <td><input name="creator" disabled="disabled" type="text" value="{{creator}}"/></td>
	  </tr>
	  <tr>
	    <th><label>Created</label></th>
	    <td><input name="created" disabled="disabled" type="text" value="{{created}}"/></td>
	  </tr>
	</table>
</div>
</form>