

<div class="alert-warning vehicle-info" role="alert" id="vehicle-info">
	<table>
        <thead>
            <td><label>Latitude</label></td>
            <td><label>Longitude</label></td>
            <td><label>Heading</label></td>
            <td><label>Altitude</label></td>
            <td><label>Depth</label></td>
            <td><label>Position Time</label></td>
        </thead>
        <tbody class="vehicle-info-data">
            <tr>
            <td><label id="vehicle_latitude">{{latitude}}</label></td>
            <td><label id="vehicle_longitude">{{longitude}}</label></td>
            <td><label id="vehicle_heading">{{heading}}</label></td>
            <td><label id="vehicle_altitude">{{altitude}}</label></td>
            <td><label id="vehicle_depth">{{depth}}</label></td>
            <td><label id="vehicle_timestamp">{{timestamp}}</label></td>
            </tr>
        </tbody>
	</table>
</div>
