<form class="bbf-form" id="feature-coordinates-form">
<ul>
  {{#each coords}}
  	<div class="coords-error-msg" id="coords-error-{{@index}}"></div>
	{{#if ../polygon}}
  		{{#if @last}}
	  		<li>
			<input class="featureCoords" id="{{@index}}" type="text" value="{{this}}" size="45" hidden />
		  	</li>
		{{else}}
	  		<li>
			<input class="featureCoords" id="{{@index}}" type="text" value="{{this}}" size="45" />
		  	</li>
	  	{{/if}}
  	{{else}}
	  	<li>
		<input class="featureCoords" id="{{@index}}" type="text" value="{{this}}" size="45"/>
	  	</li>
  	{{/if}}
  {{/each}}
</ul>
</form>