<form class="bbf-form" id="feature-polygon-properties-form">
<div class="feature-properties" id="feature-polygon-properties">
	<table style="width:100%">
	  <tr>
	  	<th><label>Style Name</label></th>  
	    <td><input name="style name" type="text" value="{{style.name}}"/></td>
	  </tr>  
	  <tr>  	    		
	  	<th><label>Opacity</label></th>
		<td><input name="opacity" type="text" value="{{style.opacity}}"/></td>
	  </tr>  
	  <tr>  		
	  	<th><label>Border Color</label></th>
		<td><input name="border color" type="text" value="{{style.borderColor}}"/></td>
	  </tr>  
	  <tr>  		
  	    <th><label>Border Width</label></th>
		<td><input name="border width" type="text" value="{{style.borderWidth}}"/></td>
	  </tr>  
	  <tr>  	  	
	    <th><label>Color</label></th>
	  	<td><input name="color" type="text" value="{{style.color}}"/></td>
	  </tr>  
	  <tr>  	  	
	    <th><label>Dash</label></th>
	  	<td><input name="dash" type="text" value="{{style.dash}}"/></td>
	  </tr>
	</table>
</div>
</form>