<form class="bbf-form" id="layer-info-form">
<div class="layer-info" id="layer-info">
	<table>
        <tr>
            <th><label>Name</label></th>
            <td><input id="mapLayerName" type="text" value="{{name}}"/></td>
        </tr>
        <tr>
            <th><label>Description</label></th>
            <td><textarea id="mapLayerDescription" rows=3 >{{description}}</textarea></td>
        </tr>
        <tr>
            <th><label>Modifier</label></th>
            <td><input name="modifier" disabled="disabled" type="text" value="{{modifier}}"/></td>
        </tr>
        <tr>
            <th><label>Modified</label></th>
            <td><input name="modification_time" disabled="disabled" type="text" value="{{modification_time}}"/></td>
        </tr>
        <tr>
            <th><label>Creator</label></th>
            <td><input name="creator" disabled="disabled" type="text" value="{{creator}}"/></td>
        </tr>
        <tr>
            <th><label>Created</label></th>
            <td><input name="creation_time" disabled="disabled" type="text" value="{{creation_time}}"/></td>
        </tr>
        <tr>
            <th><label>Default Color</label></th>
            <td><input type='text' id="info-color-picker" /></td>
        </tr>
	</table>
</div>
</form>